<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="{{url_for('static', filename='features.css')}}" rel="stylesheet" type="text/css">

    <title>당근나라</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .writeReview {
            position: absolute;
            top: 400px;
            right: 350px;
        }

        .mytitle {
            height: 300px;
            width: 100%;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/img.png');
            background-position: center;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .btns-wrap > .btn {
            margin-right: 10px;
        }


        .deal_wrap {
            width: 1000px;
            margin: auto;
        }

        .board_title {
            font-size: x-large;
            padding: 15px 0px 15px 0px;
            border-bottom: 1px solid black;
        }
        .buttons-container{
            margin-left: 900px;
        }





    </style>

    <script>
        $(document).ready(function () {
            show_list();
        });

        function show_list() {
            $.ajax({
                type: 'GET',
                url: '/api/list',
                data: {},
                success: function (response) {
                    let rows = response['post']
                    for (let i = 0; i < rows.length; i++) {
                        let deal_tag = rows[i]['deal_tags']
                        let title = rows[i]['title']
                        let price = rows[i]['price']
                        let image_URL = rows[i]['image_URL']
                        let temp_html = `
                                             <div class="col" id="${title}" onclick="clicked(this)">
                                                <div id="${title}" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                                                     style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('${image_URL}') ;">
                                                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-2">
                                                        <h4 class="pt-5 mt-5 mb-4 display-6 lh-1">${deal_tag}</h4>
                                                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1">${title}</h2>
                                                        <ul class="d-flex list-unstyled mt-auto">
                                                            <li class="me-auto">
                                                                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                                                     class="rounded-circle border border-white">
                                                            </li>
                                                            <li class="d-flex align-items-center me-3">
                                                                <svg class="bi me-2" width="1em" height="1em">
                                                                    <use xlink:href="#geo-fill"/>
                                                                </svg>
                                                                <small>${price}</small>
                                                            </li>
                                                            <li class="d-flex align-items-center">
                                                                <svg class="bi me-2" width="1em" height="1em">
                                                                    <use xlink:href="#calendar3"/>
                                                                </svg>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            `
                        $('#review-box').append(temp_html)
                    }
                }
            });
        }

        function clicked(temp) {
            console.log(temp.id)
            // let click = document.querySelector('.col')
            window.location.href = `reviewPage.html?${temp.id}`
            // console.log(click['id'])
        }

        function userRegister(temp) {
            // $('.col').empty()
            console.log(temp)
            window.location.href = `register.html?${temp.id}`
        }
        function userLogin(temp) {
            // $('.col').empty()
            console.log(temp)
            window.location.href = `login.html?${temp.id}`
        }
            // let temp_html = `
            //                                  <div class="col" id="${title}" onclick="clicked(this)">
            //                                     <div id="${title}" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
            //                                          style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('${image_URL}') ;">
            //                                         <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-2">
            //                                             <h2 class="pt-5 mt-5 mb-4 display-6 lh-1">${title}</h2>
            //                                             <ul class="d-flex list-unstyled mt-auto">
            //                                                 <li class="me-auto">
            //                                                     <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
            //                                                          class="rounded-circle border border-white">
            //                                                 </li>
            //                                                 <li class="d-flex align-items-center me-3">
            //                                                     <svg class="bi me-2" width="1em" height="1em">
            //                                                         <use xlink:href="#geo-fill"/>
            //                                                     </svg>
            //                                                     <small>${writer}</small>
            //                                                 </li>
            //                                                 <li class="d-flex align-items-center">
            //                                                     <svg class="bi me-2" width="1em" height="1em">
            //                                                         <use xlink:href="#calendar3"/>
            //                                                     </svg>
            //                                                     <small>${star_image}</small>
            //                                                 </li>
            //                                             </ul>
            //                                         </div>
            //                                     </div>
            //                                 `
            //             $('#review-box').append(temp_html)
        //로그아웃
                function logout() {
            $.removeCookie('mytoken')
            window.location.href = "/"
        }
    </script>
</head>

<body>

    <div class="buttons-container">
        <header class="d-flex justify-content-center py-3">
            <div>
                <button class="btn btn-secondary" onclick="location.href='register.html'">회원 가입</button>
                <button class="btn btn-secondary" onclick="location.href='login.html'">로그인</button>
            </div>
        </header>
    </div>
    <main>
        <div class="mytitle">
            <h1 class="text-shadow-2">당근나라</h1>
        </div>
    </main>
    <div class="b-example-divider"></div>
    <div class="container px-4 py-5 head" id="custom-cards">
        <h2 class="pb-2 border-bottom">게시글</h2>
        <div class="writeReview">
            <button class="btn btn-secondary" onclick="location.href='reviewWritePage.html'">글 작성</button>
        </div>
        <div id = "review-box" class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" >
        </div>
    </div>

</body>