<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<style>
    * {
        /*font-family: 'Gowun Dodum', sans-serif;*/
        /*font-family: 'Open Sans', sans-serif;*/
        font-family: 'Noto Sans KR', sans-serif;
    }

    .reviewInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
</style>
<script>
    $(document).ready(function () {
            show_clicked_review()
        });
    function show_clicked_review() {
        $.ajax({
            type: 'GET',
            url: '/review',
            data: {},
            success: function (response) {
                const getTitle = decodeURI(location.href.split('?')[1])
                let rows = response['reviews']

                for (let i = 0; i < rows.length; i++) {
                    let star = rows[i]['star']
                    let title = rows[i]['title']
                    let board = rows[i]['board']
                    let writer = rows[i]['writer']
                    let image_URL = rows[i]['image_URL']
                    let review = rows[i]['review']
                    let star_image = '⭐'.repeat(star)

                    if (title != getTitle) {
                        continue
                    }

                    let temp_html

                    if (board == '1') {
                        temp_html = `
                        <div class="container">
                            <header class="d-flex justify-content-center py-3">
                                <ul class="nav nav-pills gap-2">
                                    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">전체</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewComputer(this)" class="nav-link active" aria-current="page" id="1">컴퓨터</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewTablet(this)" class="nav-link" id="2">태블릿 PC</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewPhone(this)" class="nav-link" id="3">스마트폰</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewwatch(this)" class="nav-link" id="4">스마트워치</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewEtc(this)" class="nav-link" id="5">기타</a></li>
                                </ul>
                            </header>
                        </div>`
                    } else if (board == '2') {
                        temp_html = `
                        <div class="container">
                            <header class="d-flex justify-content-center py-3">
                                <ul class="nav nav-pills gap-2">
                                    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">전체</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewComputer(this)" class="nav-link" aria-current="page" id="1">컴퓨터</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewTablet(this)" class="nav-link active" id="2">태블릿 PC</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewPhone(this)" class="nav-link" id="3">스마트폰</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewwatch(this)" class="nav-link" id="4">스마트워치</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewEtc(this)" class="nav-link" id="5">기타</a></li>
                                </ul>
                            </header>
                        </div>`
                    } else if (board == '3') {
                        temp_html = `
                        <div class="container">
                            <header class="d-flex justify-content-center py-3">
                                <ul class="nav nav-pills gap-2">
                                    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">전체</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewComputer(this)" class="nav-link" aria-current="page" id="1">컴퓨터</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewTablet(this)" class="nav-link" id="2">태블릿 PC</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewPhone(this)" class="nav-link active" id="3">스마트폰</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewwatch(this)" class="nav-link" id="4">스마트워치</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewEtc(this)" class="nav-link" id="5">기타</a></li>
                                </ul>
                            </header>
                        </div>`
                    } else if (board == '4') {
                        temp_html = `
                        <div class="container">
                            <header class="d-flex justify-content-center py-3">
                                <ul class="nav nav-pills gap-2">
                                    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">전체</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewComputer(this)" class="nav-link" aria-current="page" id="1">컴퓨터</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewTablet(this)" class="nav-link" id="2">태블릿 PC</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewPhone(this)" class="nav-link" id="3">스마트폰</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewwatch(this)" class="nav-link active" id="4">스마트워치</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewEtc(this)" class="nav-link" id="5">기타</a></li>
                                </ul>
                            </header>
                        </div>`
                    } else if (board == '5') {
                        temp_html = `
                        <div class="container">
                            <header class="d-flex justify-content-center py-3">
                                <ul class="nav nav-pills gap-2">
                                    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">전체</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewComputer(this)" class="nav-link" aria-current="page" id="1">컴퓨터</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewTablet(this)" class="nav-link" id="2">태블릿 PC</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewPhone(this)" class="nav-link" id="3">스마트폰</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewwatch(this)" class="nav-link" id="4">스마트워치</a></li>
                                    <li class="nav-item"><a href="#" onclick="reviewEtc(this)" class="nav-link active" id="5">기타</a></li>
                                </ul>
                            </header>
                        </div>`
                    }

                    temp_html += `
                                    <div class="px-4 pt-5 my-5 text-center border-bottom">
                                        <h1 id="title" class="display-4 fw-bold">${title}</h1>
                                        <div class="col-lg-6 mx-auto">
                                            <div class="lead mt-4 reviewInfo gap-3">
                                                <h6 class="reviewTag">${board}</h6>
                                                <h6 class="reviewWriter">${writer}</h6>
                                                <h6 class="reviewPoints">${star_image}</h6>
                                            </div>
                                        </div>
                                        <div class="overflow-hidden" style="max-height: 30vh;">
                                            <div class="container px-5">
                                                <img
                                                  src=${image_URL}
                                                  class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500"
                                                  loading="lazy">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mx-auto">
                                            <p class="lead mt-4">
                                                ${review}
                                            </p>
                                        </div>
                                        <div>
                                        <p>
                                            <input id="password" type="text" placeholder="비밀번호 입력" aria-label="Username"
                                               aria-describedby="password">
                                            <button class="btn btn-secondary" onclick="update_review('${title}')" id="update">수정하기</button>
                                            <button class="btn btn-secondary" onclick="delete_review('${title}')">삭제하기</button>
                                        </p>
                                      </div>
                                    </div>
                                    `
                    $('#body').append(temp_html)
                }
            }
        });
    }

    function reviewTablet(temp) {
        // $('.col').empty()
        console.log(temp)
        window.location.href = `TabletReview.html?${temp.id}`
    }

    function reviewPhone(temp) {
        // $('.col').empty()
        console.log(temp)
        window.location.href = `smartPhoneReview.html?${temp.id}`
    }

    function reviewwatch(temp) {
        // $('.col').empty()
        console.log(temp)
        window.location.href = `smartWatchReview.html?${temp.id}`
    }

    function reviewEtc(temp) {
        // $('.col').empty()
        console.log(temp)
        window.location.href = `etcReview.html?${temp.id}`
    }

    function reviewComputer(temp) {
        // $('.col').empty()
        console.log(temp)
        window.location.href = `computerReview.html?${temp.id}`
        // let temp_html = `
        //                                  <div class="col" id="${title}" onclick="clicked(this)">
        //                                     <div id="${title}" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        //                                          style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('${image_URL}') ;">
        //                                         <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-2">
        //                                             <h2 class="pt-5 mt-5 mb-4 display-6 lh-1">${title}</h2>
        //                                             <ul class="d-flex list-unstyled mt-auto">
        //                                                 <li class="me-auto">
        //                                                     <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
        //                                                          class="rounded-circle border border-white">
        //                                                 </li>
        //                                                 <li class="d-flex align-items-center me-3">
        //                                                     <svg class="bi me-2" width="1em" height="1em">
        //                                                         <use xlink:href="#geo-fill"/>
        //                                                     </svg>
        //                                                     <small>${writer}</small>
        //                                                 </li>
        //                                                 <li class="d-flex align-items-center">
        //                                                     <svg class="bi me-2" width="1em" height="1em">
        //                                                         <use xlink:href="#calendar3"/>
        //                                                     </svg>
        //                                                     <small>${star_image}</small>
        //                                                 </li>
        //                                             </ul>
        //                                         </div>
        //                                     </div>
        //                                 `
        //             $('#review-box').append(temp_html)

    }

    function delete_review(title, password) {
    let inputted_password = $('#password').val()
    if (password == inputted_password) {
        $.ajax({
            type: 'POST',
            url: '/delete',
            data: {
                title_give: title,
            },
            success: function (response) {
                alert(response['msg'])
                location.href = '/'
            }
        })
    } else if(password != inputted_password){
        alert("비밀번호가 일치하지 않습니다.")
    }
}

    function update_review(title) {
        // let title = $('#title').val()
        let password = $('#password').val()
        console.log(title, password)
        // console.log(password)
        $.ajax({
            type: 'POST',
            url: '/update',
            data: {
                title_give:title,
                password_give:password
            },
            success: function(response) {
                // location.href='/update'
            }
        })
        // window.location.href = `/update`
    }
</script>
<body id="body">

</body>
</html>